$hg-breakpoint-xs: 1px !default;
$hg-breakpoint-sm: 768px !default;
$hg-breakpoint-md: 992px !default;
$hg-breakpoint-lg: 1280px !default;
$hg-breakpoint-xl: 1440px !default;
$hg-breakpoint-2xl: 1600px !default;
$hg-breakpoint-3xl: 1920px !default;