@use '../functions' as *;

$hg-spacer-0: 0 !default;
$hg-spacer-1: to-rem(1) !default;
$hg-spacer-2: to-rem(2) !default;
$hg-spacer-4: to-rem(4) !default;
$hg-spacer-8: to-rem(8) !default;
$hg-spacer-12: to-rem(12) !default;
$hg-spacer-16: to-rem(16) !default;
$hg-spacer-20: to-rem(20) !default;
$hg-spacer-24: to-rem(24) !default;
$hg-spacer-32: to-rem(32) !default;
$hg-spacer-40: to-rem(40) !default;
$hg-spacer-48: to-rem(48) !default;
$hg-spacer-56: to-rem(56) !default;
$hg-spacer-64: to-rem(64) !default;
$hg-spacer-72: to-rem(72) !default;
$hg-spacer-80: to-rem(80) !default;
$hg-spacer-88: to-rem(88) !default;
$hg-spacer-96: to-rem(96) !default;
$hg-spacer-104: to-rem(104) !default;
$hg-spacer-112: to-rem(112) !default;
$hg-spacer-120: to-rem(120) !default;
$hg-spacer-128: to-rem(128) !default;
$hg-spacer-136: to-rem(136) !default;
$hg-spacer-144: to-rem(144) !default;
$hg-spacer-152: to-rem(152) !default;
$hg-spacer-160: to-rem(160) !default;
$hg-spacer-100-percent-neg: -100% !default;
$hg-spacer-80-percent-neg: -80% !default;
$hg-spacer-75-percent-neg: -75% !default;
$hg-spacer-66-percent-neg: -66.6666% !default;
$hg-spacer-60-percent-neg: -60% !default;
$hg-spacer-50-percent-neg: -50% !default;
$hg-spacer-40-percent-neg: -40% !default;
$hg-spacer-33-percent-neg: -33.3333% !default;
$hg-spacer-25-percent-neg: -25% !default;
$hg-spacer-20-percent-neg: -20% !default;
$hg-spacer-auto: auto !default;
$hg-spacer-20-percent: 20% !default;
$hg-spacer-25-percent: 25% !default;
$hg-spacer-33-percent: 33.3333% !default;
$hg-spacer-40-percent: 40% !default;
$hg-spacer-50-percent: 50% !default;
$hg-spacer-60-percent: 60% !default;
$hg-spacer-66-percent: 66.6666% !default;
$hg-spacer-75-percent: 75% !default;
$hg-spacer-80-percent: 80% !default;
$hg-spacer-100-percent: 100% !default;